/*Borders*/
.ms-bordered-content{
    border: 2px dashed black;
    background-color: chocolate;
}
.ms-light-bordered{
    padding: 2px 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}


img{
    max-width: 100%;
    height: auto;
}
/*HEADER*/
header{
    background-color: hsl(210deg 29.03% 24.31%);
    height: 100px;
}
header h3{
    color: #ffffff;
}
.ms-option-menu{
    color: #ffffff;
}
/*MAIN*/

/*FIRST SECTION*/
.ms-colored-bg{
    background-color: hsl(168.15deg 75.7% 41.96%);
}
/*FOURTH SECTION*/
.send-label{
    background-color: hsl(168.15deg 75.7% 41.96%);
    border: 1px solid hsl(168.15deg 75.7% 41.96%);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}

/*FIFTH SECTION*/
.ms-lightcolored-bg{
    background-color: hsl(209.41deg 30.54% 32.75%);
}

/*FOOTER*/
footer{
    background-color: hsl(210deg 29.03% 24.31%);
}